<!DOCTYPE html>
<!-- Last Published: Sun May 12 2024 19:29:33 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="www.mosquee-versailles.fr" data-wf-page="6420c6485d2729ccd86b7390" data-wf-site="641dab129205bc6655ff0661" lang="fr">
<head>
      <meta charset="utf-8"/>
      <title>Mosquée de Ezanville | Accueil</title>
      <meta content="Bienvenue sur le site de la Mosquée de Ezanville, un lieu de culte et un espace de rassemblement pour la communauté musulmane de la région. Notre association participe à la promotion des valeurs de paix, de tolérance et de solidarité. Notre mosquée offre un environnement accueillant pour prier, se recueillir et se ressourcer. Nous organisons également des événements culturels, sociaux et éducatifs pour renforcer les liens entre notre communauté et la société environnante. Visitez notre site pour en savoir plus sur nos activités, nos horaires de prière et notre engagement envers le dialogue interculturel et la citoyenneté active." name="description"/>
	<meta content="Mosquée de Ezanville | Accueil" property="og:title"/>
	<meta content="Mosquée de Ezanville | Accueil" property="twitter:title"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	  <link href="{{ asset('css/site-mosquee.css') }}" rel="stylesheet" type="text/css"/>
      {# <link href="https://assets-global.website-files.com/641dab129205bc6655ff0661/css/mosquee-versailles.webflow.4c01aa82b.css" rel="stylesheet" type="text/css"/> #}
      <link href="https://fonts.googleapis.com" rel="preconnect"/>
      <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous"/>
      <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script><script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","PT Sans:400,400italic,700,700italic"]  }});</script><script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
      <link href="{{ asset('images/Logo(transparent-noir)2025-ACCE.png') }}" rel="shortcut icon" type="image/x-icon"/>
      <link href="{{ asset('images/Logo(transparent-noir)2025-ACCE.png') }}" rel="apple-touch-icon"/>
      <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
      <style>
         .no-scroll {overflow:hidden;}
      </style>
      <!-- Finsweet Cookie Consent -->
      <script async src="https://cdn.jsdelivr.net/npm/@finsweet/cookie-consent@1/fs-cc.js" fs-cc-mode="opt-in"></script>
   </head>
	<body class="body home">
		{% include 'base.html.twig' %}
		<div class="hero hero-home">
			<div class="container1 hero">
				<div id="w-node-_648a52fc-e84d-5c54-8a81-a2f06028921a-d86b7390" data-w-id="648a52fc-e84d-5c54-8a81-a2f06028921a" style="opacity: 0" class="f-header-wrapper-left">
					<div class="f-margin-bottom-24">
						<h1 class="f-h1-heading">Bienvenue.</h1>
					</div>
					<div class="f-margin-bottom-40">
						<p class="f-paragraph-large">
							L&#x27;association cultuelle des Musulmans d&#x27;Ezanville est heureuse de
							              vous accueillir sur son nouveau site.
						</p>
					</div>
					<div class="f-header-button-wrapper">
						<a href="{{ path('actualities') }}" class="f-button-neutral w-inline-block">
							<div class="text-block-5">
								Consulter les dernières nouvelles de l&#x27;association
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<header id="blog-header-5" class="home_blog first">
			<div class="rl-padding-global">
				<div class="rl-container-large">
					<div class="rl-padding-section-large">
						<div data-w-id="2d90dffe-a63b-9c81-28ae-12d99482073f" style="opacity: 0" class="rl_blog5_component first">
							<div class="columns-2 w-row">
								<div class="column-5 w-col w-col-7">
									<div class="rl_blog5_heading-wrapper">
										<div class="rl_blog5_spacing-block-1"></div>
										<h2 class="f-h1-heading home_blog">
											Informations et événements à venir
										</h2>
										<div class="rl_blog5_spacing-block-2"></div>
										<p class="rl-text-style-medium">
											Restez informé(e) de toutes les actualités de
											                      l&#x27;Association des Musulmans de Ezanville.<br/><br/>Nous
											                      publions régulièrement des informations sur les événements
											                      à venir, les projets en cours, les initiatives
											                      communautaires, les appels à la participation et bien plus
											                      encore.
											<br/><br/>N&#x27;hésitez pas à consulter notre
											                      site pour rester connecté(e) et participer aux événements
											                      et activités de l&#x27;association.
										</p>
									</div>
								</div>
								<div class="column w-col w-col-5">
									<div class="html-embed-4 w-embed w-iframe">
										<iframe loading="lazy" src="https://mawaqit.net/fr/w/acce-ezanville-95460-france?showOnly5PrayerTimes=0" frameborder="0" scrolling="no" width="100%" height="100%" class="widget entered lazyloaded" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://mawaqit.net/fr/w/acce-ezanville-95460-france?showOnly5PrayerTimes=0" data-ll-status="loaded"></iframe>
										<style>
											.widget.entered.lazyloaded {
												border-radius: 2px;
												padding: 8px;
												border: 1px solid #00000017;
												background: #fff;
												box-shadow: 2px 2px 4px -3px rgba(0, 0, 0, 0.2);
											}
										</style>
									</div>
									<div class="mawaqit_mobile w-embed w-iframe">
										<iframe loading="lazy" src="https://mawaqit.net/fr/m/acce-ezanville-95460-france?&showNotification=0&showSearchButton=0&showFooter=0&showFlashMessage=0&view=mobile" frameborder="0" scrolling="no" width="100%" height="100%" class="mobile widget entered lazyloaded" data-rocket-lazyload="fitvidscompatible" data-lazy-src="https://mawaqit.net/fr/w/acce-ezanville-95460-france?showOnly5PrayerTimes=0" data-ll-status="loaded"></iframe>
										<style>
											.widget.entered.lazyloaded {
												border-radius: 2px;
												padding: 8px;
												border: 1px solid #00000017;
												background: #fff;
												box-shadow: 2px 2px 4px -3px rgba(0, 0, 0, 0.2);
											}
										</style>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<header id="blog-header-5" class="home_blog second">
			<div class="rl-padding-global">
				<div class="rl-container-large">
					<div data-w-id="cba2ceed-dab4-b70a-d31b-e0f008eadb90" style="opacity: 0" class="rl-padding-section-large second">
						<div class="w-row">
							<div class="column-3 w-col w-col-7">
								<div class="rl_blog5_featured-list-wrapper w-dyn-list">
									<div role="list" class="rl_blog5_featured-list w-dyn-items">
										<div role="listitem" class="rl_blog5_featured-item w-dyn-item">
											<a href="/actualites/campagne-de-dons" class="rl_blog5_featured-image-link w-inline-block">
												<div class="rl_blog5_featured-image-wrapper">
													<img alt="Campagne de dons" loading="lazy" src="https://assets-global.website-files.com/642b59c7d4d87f6eac89ee8b/6432e3f3f49a323c3b7558bf_dons_en_ligne.jpg" sizes="(max-width: 479px) 90vw, (max-width: 767px) 86vw, (max-width: 991px) 49vw, (max-width: 1439px) 45vw, 654.6640625px" srcset="
														                              https://assets-global.website-files.com/642b59c7d4d87f6eac89ee8b/6432e3f3f49a323c3b7558bf_dons_en_ligne-p-500.jpg   500w,
														                              https://assets-global.website-files.com/642b59c7d4d87f6eac89ee8b/6432e3f3f49a323c3b7558bf_dons_en_ligne-p-800.jpg   800w,
														                              https://assets-global.website-files.com/642b59c7d4d87f6eac89ee8b/6432e3f3f49a323c3b7558bf_dons_en_ligne-p-1080.jpg 1080w,
														                              https://assets-global.website-files.com/642b59c7d4d87f6eac89ee8b/6432e3f3f49a323c3b7558bf_dons_en_ligne.jpg        1140w
														                            " class="rl_blog5_featured-image"/></div>
											</a>
											<div class="rl_blog5_featured-item-content">
												<a href="#" class="rl_blog5_category-link article_recent w-inline-block">
													<div class="rl_blog5_category-text">
														Actualité récente :
													</div>
												</a>
												<div class="rl_blog5_spacing-block-4"></div>
												<a href="/actualites/campagne-de-dons" class="rl_blog5_featured-title-link w-inline-block">
													<h3 class="rl-heading-style-h4">
														Campagne de dons
													</h3>
												</a>
												<div class="rl_blog5_spacing-block-5"></div>
												<div class="rich-text-block w-richtext">
													<p>
														L&#x27;association des Musulmans de Ezanville est
														                            heureuse de vous présenter sa nouvelle campagne de
														                            dons en ligne, qui utilise la plateforme Hello Asso
														                            pour faciliter les contributions à la mosquée. Nous
														                            sommes convaincus que cette initiative permettra à..
													</p>
												</div>
												<div class="rl_blog5_spacing-block-6">
													<a href="{{ path('donation') }}" class="rl_blog5_menu-link current w-inline-block">
														<div class="rl_blog5_menu-link-text">
															En savoir plus
														</div>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="column-4 w-col w-col-5">
								<div class="rl_blog5_list-wrapper w-dyn-list">
									<div class="w-dyn-empty">
										<div>Aucun article disponible.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="dons">
			<div class="container-4 w-container">
				<div class="columns w-row">
					<div data-w-id="b47282f2-d6cd-8217-e415-f93b02f2f775" class="column-2 w-col w-col-8">
						<h2 class="heading-3">Vous souhaitez effectuer un don ?</h2>
						<p class="paragraph-2">
							Votre don est une contribution essentielle pour nous aider à
							              maintenir notre Mosquée et à continuer de servir au mieux la
							              communauté. Nous vous remercions de votre générosité.
						</p>
					</div>
					<div data-w-id="b47282f2-d6cd-8217-e415-f93b02f2f77a" class="w-col w-col-4">
						<a href="{{ path('donation') }}" class="button dons_btn donsbtn_div button-2 button-3 w-button">FAIRE UN DON</a>
					</div>
				</div>
			</div>
		</div>
		{% include 'footer.html.twig' %}
	</body>
</html>
